// Define variables for your color scheme

// For example:
$red: #d45079;
$blue: rgba(21, 26, 35, 1);
$blue-70: rgba(21, 26, 35, .7);
$light1-blue: rgba(21, 26, 35, 0.1);
$light3-blue: rgba(21, 26, 35, 0.3);
$light6-blue: rgba(21, 26, 35, 0.6);
$light9-blue: rgba(21, 26, 35, 0.9);
$yellow: #e9e1cc70;
$yellow-opaque: #e9e1cc40;
$orange: #ea9085;
$green: #1EDD88;
$gray: #0E0000;
$white: #DDDDDD;
$opaque-white: #DDDDDD60;
$light-gray: #F4F4F4;
