<div class="container" id='about'>
  <div class="about-card d-flex justify-content-between align-items-center">
    <div class="about-card__left from-right-text" data-aos="fade">
      <h1 class='about-card__title pb-3'>Lorem ipsum dolor sit amet.</h1>
      <p class='about-card__paragraph'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus et ex odio labore doloremque nisi molestiae eius!
        <br>
        <br>
        Quaerat sed ut odio aut reprehenderit est consequatur asperiores obcaecati nihil voluptates eos, debitis blanditiis, labore repudiandae illum. Ducimus amet placeat illo, ipsam libero commodi, itaque assumenda soluta iure illum perspiciatis!
        <br>
        <br>
        Obcaecati quibusdam similique, autem voluptatibus, eos at. Eaque temporibus in accusamus ipsa magnam itaque voluptas officia nemo, aut ut repudiandae, debitis. Molestiae nesciunt debitis ab odio, a dolore quos eligendi doloribus aliquid consequatur!
        <br>
        <br>
        Sapiente necessitatibus animi soluta provident dignissimos modi, veritatis deleniti.</p>
    </div>
    <div class="about-card__image" data-aos="fade-left">
      <%= image_tag "meeting.jpeg", alt: "meeting" %>
    </div>
  </div>
</div>

<div class="image-from-left">
  <div class="container">
    <div class="about-card d-flex justify-content-between align-items-center">
      <div class="about-card__image" data-aos="fade-right">
        <%= image_tag "hands_close.jpeg", alt: "meeting" %>
      </div>
      <div class="about-card__left from-left-text" data-aos="fade">
        <h1 class='about-card__title pb-3'>Lorem ipsum dolor sit amet.</h1>
        <p class='about-card__paragraph'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus et ex odio labore doloremque nisi molestiae eius!
          <br>
          <br>
          Quaerat sed ut odio aut reprehenderit est consequatur asperiores obcaecati nihil voluptates eos, debitis blanditiis, labore repudiandae illum. Ducimus amet placeat illo, ipsam libero commodi, itaque assumenda soluta iure illum perspiciatis!
          <br>
          <br>
          Obcaecati quibusdam similique, autem voluptatibus, eos at. Eaque temporibus in accusamus ipsa magnam itaque voluptas officia nemo, aut ut repudiandae, debitis. Molestiae nesciunt debitis ab odio, a dolore quos eligendi doloribus aliquid consequatur!
          <br>
          <br>
          Sapiente necessitatibus animi soluta provident dignissimos modi, veritatis deleniti.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-card d-flex justify-content-between align-items-center">
    <div class="about-card__left from-right-text" data-aos="fade">
      <h1 class='about-card__title pb-3'>Lorem ipsum dolor sit amet.</h1>
      <p class='about-card__paragraph'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus et ex odio labore doloremque nisi molestiae eius!
        <br>
        <br>
        Quaerat sed ut odio aut reprehenderit est consequatur asperiores obcaecati nihil voluptates eos, debitis blanditiis, labore repudiandae illum. Ducimus amet placeat illo, ipsam libero commodi, itaque assumenda soluta iure illum perspiciatis!
        <br>
        <br>
        Obcaecati quibusdam similique, autem voluptatibus, eos at. Eaque temporibus in accusamus ipsa magnam itaque voluptas officia nemo, aut ut repudiandae, debitis. Molestiae nesciunt debitis ab odio, a dolore quos eligendi doloribus aliquid consequatur!
        <br>
        <br>
        Sapiente necessitatibus animi soluta provident dignissimos modi, veritatis deleniti.</p>
    </div>
    <div class="about-card__image" data-aos="fade-left">
      <%= image_tag "contract.jpeg", alt: "meeting" %>
    </div>
  </div>
</div>
