<header class="video-container">
  <div class="video-background">
    <%= video_tag "banner_sd.webm", autoplay: true, loop: true, muted: true %>
    <div class="gradient">
    </div>
  </div>
  <div class="video-banner">
    <div class="container d-flex justify-content-between">
      <div class="banner-text d-flex justify-content-between flex-column">
        <h1 class='banner-title'>SUCCESS <strong>DEAL</strong></h1>
      </div>
      <div class="citation text-center">
        <em>
          <i class="fas fa-quote-left"></i> Si un homme vide sa bourse dans sa tête, personne ne peut la lui prendre.
          <br>
        Un investissement dans le savoir paie toujours les meilleurs intérêts. <i class="fas fa-quote-right"></i>
        </em>
        <br>
        <br>
        Benjamin Franklin
      </div>
    </div>
  </div>
</header>

