<header class="video-container">
  <div class="video-background">
    <video autoplay muted loop autobuffer="true" poster="assets/paris.jpeg">
      <source src="assets/banner_sd.webm" type="video/webm">
      <source src="assets/banner_sd.mp4" type="video/mp4">
    </video>
    <div class="gradient">
    </div>
  </div>
  <div class="video-banner">
    <div class="container d-flex justify-content-between">
      <div class="banner-text d-flex justify-content-between flex-column">
        <h1 class='banner-title'>SUCCESS <strong>DEAL</strong></h1>
      </div>
      <div class="citation text-center">
        <em>
          <i class="fas fa-quote-left"></i> Si un homme vide sa bourse dans sa tête, personne ne peut la lui prendre.
          <br>
        Un investissement dans le savoir paie toujours les meilleurs intérêts. <i class="fas fa-quote-right"></i>
        </em>
        <br>
        <br>
        <div class="citation-auteur">Benjamin Franklin</div>
      </div>
    </div>
  </div>
</header>

