<div class="confiance-wrapper">
  <div class="container">
    <div class="confiance-card py-5">
      <h1 class='confiance-card__title pb-3 text-center'>Ils nous font confiance</h1>
      <%= image_tag "confiance.png", alt: "confiance", class: 'confiance-card__image' %>
    </div>
  </div>
</div>
