<footer class="footer-success-deal py-4 d-flex justify-content-center align-items-center">
  <div class="footer-left pr-3 pl-3">
    <h1>Success Deal | Jonathan Bellaïche</h1>
    <p class='mb-0'>
      Conseil en cessions d’entreprise et levées de fonds
      <br>
      15 rue Saint Senoch
      <br>
      75017 Paris
    </p>
  </div>
  <div class="footer-right pl-3">
    <p class="mb-0">
      06 12 34 56 78
    </p>
    <p class="mb-0">
      success@deal.com
    </p>
  </div>
</footer>

