<div class="swiper-slide">
  <div class="review-slide">
    <p class='text-left'><em>"<%= review.content %>"</em></p>
    <p class='text-right mt-3 py-3 review-author'><%= review.author %> | <%= review.company %></p>
  </div>
</div>
