
.video-background {
  z-index: -99;
  height: calc(100vh + 56px);
  position: relative;
  top: -56px;

  video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.gradient {
  position: absolute;
  top: 0;
  height: calc(100vh + 56px);
  width: 100vw;
  background-color: $light6-blue;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $white;
}

.banner-text {
  flex: 0 0 30%;
  height: 20rem;

  .banner-title {
    font-size: 2rem;
  }
}

.banner-subtitle {
  text-align: end;
}

.video-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50vh 0rem 0rem 0rem;
  overflow: hidden;

  h2 {
    color: $white;
    opacity: 0.5;
    font-size: 2rem;
  }
}

.fa-quote-left {
  position: relative;
  top: -.5rem;
  left: -.5rem;
}

.fa-quote-right {
  position: relative;
  bottom: -.5rem;
  right: -.5rem;
}

.video-container {
  height: 100vh;
}

.citation {
  color: $white;
}

.video-banner h1 {
  color: $white;
  font-size: 1.5rem;
}

.video-banner p {
  color: $white;
  opacity: .7;
}

@media (max-width: 720px) {
  .banner-text {
    display: none !important;
  }
}
