.footer-success-deal {
  min-height: 15vh;
  background: $blue;
  text-align: center;
  color: $white;

  h1, p {
    font-size: .8rem;
  }
}

.footer-link {
  color: $white;
  text-decoration: none;
  transition: .1s;

  &:hover {
    text-decoration: none;
    color:$white;
  }
}

.footer-text {
  color: $white;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .footer-success-deal {
    flex-direction: column;
  }

  .footer-left {
    border-right: none !important;
    border-bottom: 1px solid $white;
    padding-bottom: 1rem;
  }

  .footer-right {
    padding-top: 1rem;
  }
}
