.navbar-lewagon {
  transition: all .3s ease;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: $blue !important;
  opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $white !important;
  font-size: .9rem;
}

.logo {
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .3s ease;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: $white;
  }

  &.hide {
    opacity: 0;
  }
}

button:focus {
  outline: none;
}

.hidden {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: row-reverse;
  }
}
